html, body {
    height: 100%;
    margin: 0;
    font-family: 'Righteous', cursive, 'Acme', sans-serif;
    background-image: url('../css/images/diagonal_striped_brick.png');
}
main {
    flex: 1 0 auto;
}
.container {
    text-align: center;  
}
#searchbar {
    margin-left: 35px; 
    width: 250px;
    height: 23px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: white 1px solid;
    margin-top: 45px;
}
.searchbutton {
    margin-left: px; 
    width: 75px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 12px;
}
.search {
    display: inline;
}
.title {
    text-align: center;
    margin-top: -30px;
}
h1.brand-logo.center.my {
    padding-top: 0px;
    padding-right: 230px;
    font-size: 55px;
    margin-top: 14px;
}
h1.brand-logo.center.z {
    padding-top: 0px;
    padding-left: 185px;
    font-size: 55px;
    margin-top: 14px;
}
.my {
    padding-top: 50px;
    padding-right: 200px;
}
#my {
    margin-bottom: 60px;
}
.bg-img {
    background-image: url('./images/wood2.png');
    height: 100%; 
}
.cont-marg, .cont-marg-two {
    margin-bottom: 150px;
}
.cassette {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 150px;
}
.nav-border {
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-style: solid;
    border-right-width: 1px;
}
.nav-border-two {
    margin-top: 50px;
    line-height: 23px;
}
form {
    background-color: #949494;
    border: 1px solid black;
}
.here {
    color: black;
    font-size: 25px;
    text-decoration: underline;
}
.dont {
    margin-bottom: -30px;
}
.submitlogin {
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 20px;    
}
div.nav-wrapper.bg-img {
    height: 120px;
}
.account {
    background-color: #949494;
    width: 800px;
    margin-top: 50px;
    border: 1px solid black;
}
div.row.gap {
    margin-bottom: 0;
}
.p-pic {
    margin-left: 30px;
    border: 2px solid white;
    margin-top: 20px;
}
.bio {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    padding-bottom: 15px;
}
#info {
    float: right;
    text-align: left;
    margin-right: 30px;
    line-height: 6px;
    margin-top: -10px;
    margin-left: -50px;
}
h4 {
    color: white;
}
.aboutme {
    text-align: left;
    margin-left: 30px;
}
footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    padding-top: 15px;
}
.footer,
.push {
  height: 75px;
}

.concertname {
    color: white;
}

.card {
    background-color: black;
}

.ticketslink {
    color: white;
    text-decoration: underline;
}

#eventscards {
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    background-color: #949494;
    padding-bottom: 20px;
    border: 1px solid black;
}

.group-container {
    background-color: #949494;
    border: 1px solid black;
    margin-top: 20px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
