.bg-img {
    background-image: url('./images/wood2.png');
    height: 100%;
    
}

.cont-marg {
    margin-bottom: 80px;
}

div.nav-wrapper.bg-img {
    height: 120px;
}

footer {
    width: 100.7%;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    padding-top: 15px;
    margin-top: 15px;
}


.cassette {
    width: 100px;
    margin-top: 7px;
}

#searchbar {
    /* margin-top: 85px; */
    margin-left: 35px; 
    width: 250px;
    height: 23px;
    /* float: left; */
    border-radius: 25px;
    background-color: white;
    color: black;
    border: white 1px solid;
    margin-top: 45px;
}

.searchbutton {
    margin-left: 10px; 
    width: 75px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 12px;
}

.search {
    display: inline;
}



.title {
    text-align: center;
    margin-top: -30px;
}

h1.brand-logo.center.my {
    padding-top: 0px;
    padding-right: 230px;
    font-size: 55px;
    margin-top: 14px;
}

h1.brand-logo.center.z {
    padding-top: 0px;
    padding-left: 185px;
    font-size: 55px;
    margin-top: 14px;
}

.my {
    padding-top: 50px;
    padding-right: 200px;
    
}

#my {
    margin-bottom: 60px;
}

.z {
    /* margin-left: -30px;
    margin-top: -140px;
    font-size: 55px;
    margin-right: 105px; */
}

.cassette {
    margin-top: 7;
    margin-bottom: 40px;
    width: 150px;
}

.nav-border {
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-style: solid;
    border-right-width: 1px;
}

.nav-border-two {
    margin-top: 50px;
    line-height: 23px;
}

/* .navbar {
    float: right;
    margin-right: 40px;
    margin-top: -80px;
    font-size: 25px;
    color: white;
    text-decoration: none;
} */

body {
    background-image: url('./images/diagonal_striped_brick.png');
}

.container {
    width: 800px;
}

.content {
    background-color: #949494;
    padding-bottom: 20px;
    
    
}



.fullpage {
    font-family: 'Righteous', cursive, 'Acme', sans-serif;
}

.concertname {
    color: white;
}

.card {
    background-color: black;
}

.ticketslink {
    color: white;
    text-decoration: underline;
}

#eventscards {
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
