.header {
    background-image: url('../css/images/wood2.png');
    height: 150px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding-bottom: 25px;
}

.cassette {
    width: 100px;
}

.searchbar {
    margin-top: 80px;
    margin-left: 30px;
    width: 250px;
    height: 20px;
    float: left;
    border-radius: 25px;
}

.searchbutton {
    margin-top: 80px;
    margin-left: 30px;
    width: 75px;
    margin-left: 5px;
    height: 27px;
    background-color: black;
    color: white;
    border-radius: 25px;
}

.title {
    text-align: center;
    margin-top: -30px;
}

.my {
    margin-top: -55px;
    margin-right: 515px;
    font-size: 50px;
}

#my {
    margin-bottom: 60px;
}

.z {
    margin-left: -30px;
    margin-top: -140px;
    font-size: 50px;
    margin-right: 98px;

}

.cassette {
    margin-top: -150px;
    margin-bottom: 40px;
    width: 150px;
}

.nav {
    float: right;
    margin-right: 30px;
    margin-top: -85px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    padding-right: 20px;
    margin-left: -10px;
    padding-top: 25px;
}

.container {
    width: 500px;
    height: 465px;
    text-align: center;
    background-color: #949494;
    margin-left: 450px;
    padding-top: 20px;
}

.copyright {
    margin-bottom: -50px;
}

.emailtext, .passwordtext, .nametext {
    font-size: 25px;
}

.emailinput, .passwordinput, .nameinput {
    height: 20px;
}

.login {
    margin-bottom: 55px;
    margin-top: 30px;
}

.content {
    background-image: url('../css/images/diagonal_striped_brick.png');
}

.here {
    color: black;
    font-size: 25px;
    margin-top: -20px;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-right: -145px;
}

.dont {
    margin-bottom: -30px;
}

.loginbelow {
    margin-top: -30px;
}

.submitlogin {
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 20px;
    
}

.emailloginwhole, .nameloginwhole {
   margin-bottom: 10px;
}

.passwordloginwhole {
    margin-right: 33px;
}

.profilepic {
    width: 325px;
    float: left;
    margin-left: 60px;
    border: solid 3px white;
}

.profilebody {
    height: 330px;
    width: 900px;
    background-color: #949494;
    margin-left: 250px;
    padding-top: 20px;
    
}

.intro {
    width: 400px;
    float: right;
    margin-top: -20px;
}

.name {
    font-size: 40px;
}

.bottomhalf {
    height: 450px;
    width: 900px;
    background-color: #949494;
    margin-left: 250px;
}

.aboutmeandbio {
    margin-left: 60px;
    margin-right: 70px;
    height: 200px;
}

.grouprequests {
    margin-left: 160px;
    float: left;
    padding-right: 160px;

}

.currentgroups {
    margin-right: -20px;
}

button {
    border-radius: 25px;
    margin-left: 10px;
}

html {
    font-family: 'Righteous', cursive, 'Acme', sans-serif;
}